html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: hkgothic, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background-color: #d2d2d2;
  margin: 2.5rem;
}

@keyframes slideInVertical {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes slideInHorizontal {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.header-title {
  font-size: 6.5rem;
  text-align: center;
  text-transform: uppercase;
}

.playlists {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  justify-content: center;
}

.playlist-item-image {
  width: 20rem;
  height: 20rem;
}

.playlist-radiobutton {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.playlist-radiobutton:checked+.playlist-item-image {
  border: 1rem solid white;
}

.canvas2d {
  display: none;
}

.progress-bar {
  position: relative;
  float: right;
  width: 4.5rem;
  height: 57rem;
  border: .1rem solid #333;
}

.filler {
  background-image: linear-gradient(-180deg, #3023AE 0%, #53A0FD 47%, #B4EC51 100%);
  width: 100%;
  transition: height .5s ease-in;
}

/* lines*/

.decolines {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.decoline {
  position: absolute;
}

