html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: hkgothic, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background-color: #d2d2d2;
  margin: 2.5rem 5rem;
}

/* lines*/

@keyframes slideInVertical {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes slideInHorizontal {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.decolines {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.decoline {
  position: absolute;
}

/* progress bar */

.progress-bar {
  position: relative;
  float: right;
  width: 4.5rem;
  height: 57rem;
  border: .3rem solid #333;
}

.filler {
  background-image: linear-gradient(-180deg, #3023AE 0%, #53A0FD 47%, #B4EC51 100%);
  width: 100%;
  transition: height .5s ease-in;
}

/* styles */

.header-title {
  font-size: 4vmax;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10rem;
}

.subtitle {
  font-size: 2vmax;
  text-decoration: underline;
}

/* login */

.login {
  margin-top: 15rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(3, max-content);
  grid-gap: 5rem;
  grid-template-areas:
    'btn arr1 subt'
    'wav1 arr2 wav2';
}

.login-button {
  grid-area: btn;
  font: inherit;
  font-size: 2.5vmax;
  background: none;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  border: .3rem solid #1C1C1C;
  width: 24.2rem;
  height: 24.2rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.login-subtitle {
  grid-area: subt;
}

.login-wav1 {
  grid-area: wav1;
}

/* playlists */

.playlists {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  justify-content: center;
}

.playlist-item-image {
  width: 20rem;
  height: 20rem;
}

.playlist-radiobutton {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.playlist-radiobutton:checked+.playlist-item-image {
  border: 1rem solid white;
}

/* canvas */

.canvas2d {
  display: none;
}